
body {
   padding-top: 5rem;
   background-color: #331F1F;
   color: #ffffff;
}

.starter-template {
    padding: 2rem 1.5rem;
}
nav {
    background-color: #662929;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
}
nav ul li a:hover {
    background-color: #ddd;
}
